<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>YxTiBlya Shop</title>
</head>
<body>
    <main>
        <div class="nav">
            <div class="width_class">
                <div class="logo">
                    <h3>YXTIBLYA SHOP</h3>
                </div>
                <div class="nav_btn">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/shop">BUY NOW</a></li>
                        <li><a href="/profile">PROFILE</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}
        
    </main>
    <footer>

    </footer>
</body>
</html>