{% extends 'layout.html' %}

{% block content %}
<div class="shop_page">
    <form method="GET" action="/shop_getRequest" class="find_form">
        <select name="category" id="category">
            {% for category in categories %}
            <option value={{ category.option }}>{{ category.category }}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="Поиск по сайту" name="text">
        <button class="btn " type="submit">Найти</button>
    </form>
</div>
{% endblock %}