{% extends 'layout.html' %}

{% block content %}
<div class="shop_page">
    <form method="GET" action="/shop_getRequest" class="find_form">
        <select name="category" id="category">
            <option value="HA">Бытовая техника</option>
            <option value="SG">Смартфоны и гаджеты</option>
            <option value="TM">ТВ и мультимедиа</option>
            <option value="Сomp">Компьютеры</option>
            <option value="ON">Офис и сеть</option>
        </select>
        <input type="text" placeholder="Поиск по сайту" name="text">
        <button class="btn " type="submit">Найти</button>
    </form>
</div>
{% endblock %}